
.thingsInThisFlexboxWillBeCentered{flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}
.imgShadow{
  filter: drop-shadow(0px -0.5vmin 0.8vmin rgba(123,145,158,0.45));
}
.whiteBackgroundWithRoundCornersOnDesktops{
  min-width:11vh;
  min-height: 11vh;
  margin:3vh;
  background-color: white;
  box-shadow: 0px -0.5vmin 0.8vmin rgba(123,145,158,0.45);
  border-radius: 7px;
  transform: scale(1);
  border: 1px solid white;
  transition: transform .3s ease-out;
}
.whiteBackgroundWithRoundCornersOnDesktops:hover{
  transform: scale(1.08);
  border: 6vh solid white;
}
.whiteBackgroundWithRoundCornersOnTablets{
  min-width:90px;
  min-height: 90px;
  margin:15px;
  background-color: white;
  box-shadow: 0px -0.5vmin 0.8vmin rgba(123,145,158,0.45);
  border-radius: 7px;
}
.absoluteCenteringInsideParentDiv{
  position: absolute;
  left: 50%;
  top:50%;
  transform: translate(-50%,-50%);
}
@media (orientation: portrait){
  .imgPositionDependOnDeviceOrientation{position:fixed; left: 50vw; top: 1vh; transform: translate(-50%,0%);}
  .imgSizeDependOnDeviceOrientationTablet{width:80vw;}
	.imgSizeDependOnDeviceOrientationPhone{width:70vw;}
  .textPositionDependOnDeviceOrientationTablet{position:fixed; left: 50vw; top: 54vh; transform: translate(-50%,0%);}
	.textPositionDependOnDeviceOrientationPhone{position:fixed; left: 50vw; top: 44vh; transform: translate(-50%,0%);}
  .textWidthDependOnDeviceOrientation{width:92vw;}
  .buttonsPositionDependOnDeviceOrientationTablet{position:fixed; left: 0px; right: 0px; top: 59vh; height: 20vh;}
	.buttonsPositionDependOnDeviceOrientationPhone{position:fixed; left: 0px; right: 0px; top: 55vh; height: 20vh;}
  /* .aLittleNudgeForLandscapeOnPhones{margin-right: 0px;} */
	.positionOfNavigateBackOnTablets{position:fixed; left:50vw; transform: translateX(-50%); top:81vh; min-width:30vw; min-height:3vh; max-width:90vw; margin:0px;}
	.positionOfNavigateBackOnPhones{position:fixed; left:50vw; transform: translateX(-50%); top:81vh; min-width:75vw; min-height:3vh; max-width:95vw; margin:0px;}
}
@media (orientation: landscape){
  .imgPositionDependOnDeviceOrientation{position:fixed; left: 5vw; top: 1.3vw; transform: translate(0%,0%);}
  .imgSizeDependOnDeviceOrientationTablet{width:45vw;}
	.imgSizeDependOnDeviceOrientationPhone{width:45vw;}
  .textPositionDependOnDeviceOrientationTablet{position:fixed; right: 1vw; top: 14%; transform: translate(0%,0%);}
	.textPositionDependOnDeviceOrientationPhone{position:fixed; right: 0vw; top: 6.5%; transform: translate(2%,0%);}
  .textWidthDependOnDeviceOrientation{width:52vw;}
  .buttonsPositionDependOnDeviceOrientationTablet{position:fixed; right: 1vw; top: 29%; width: 50vw;}
	.buttonsPositionDependOnDeviceOrientationPhone{position:fixed; right: 0px; top: 23%; width: 50vw;}
  /* .aLittleNudgeForLandscapeOnPhones{margin-right: 10px;} */
	.positionOfNavigateBackOnTablets{position:fixed; right: 5.1vw; top:78%; width: 40vw; max-width: 45vw;}
	.positionOfNavigateBackOnPhones{position:fixed; right: 2.5vw; top:82%; width: 44vw; max-width: 45vw;}
}
.hoverableAndClickableChoice{background-color: #4d606f; color: white; margin:0px; padding:6px; border-radius:10px; border: .3vmin solid #8c9ca8; cursor: copy;}
.hoverableAndClickableChoice:hover{background-color: #e4f6fc; color:#7790a5; text-shadow: 0px 0px 3px white; box-shadow: 0px 0px 6px white; border: .3vmin solid white;}
.hoverableAndClickableChoice:active{background-color: #ffffff;}
.simulateKeyPress{animation-name: asIfItWasTouchable; animation-duration: 0.12s; animation-fill-mode: forwards; animation-timing-function: ease-in;}
@keyframes asIfItWasTouchable {
	0%{transform: scale(1);}
	15%{transform: scale(.9);}
	100%{transform: scale(1);}
}
@keyframes niceFadeIn {
  0%{opacity:0.01;}
100%{opacity:1;}
}
@keyframes zoomOutByHeight {
  0%{height:92vh;}
100%{height:62vh;}
}
@keyframes niceFadeOutSlow {
  0%{opacity:1;}
0.1%{opacity:0.85;}
100%{opacity:0;}
}
.niceFadeInA{animation-name: niceFadeIn; animation-duration: 1.2s; animation-fill-mode: forwards; animation-timing-function: ease-in-out;}
.zoomOut{animation-name: zoomOutByHeight; animation-duration: 4s; animation-fill-mode: forwards; animation-timing-function: ease-in-out; animation-delay: 2s;}
.niceFadeInB{animation-name: niceFadeIn; animation-duration: 2s; animation-fill-mode: forwards; animation-timing-function: ease-in-out; animation-delay: 6s;}
.niceFadeInC{animation-name: niceFadeIn; animation-duration: 2s; animation-fill-mode: forwards; animation-timing-function: ease-in-out; animation-delay: 8s;}
.niceFadeOutSlow{animation-name: niceFadeOutSlow; animation-duration: 3.5s; animation-fill-mode: forwards; animation-timing-function: ease-in-out;}
